				<div class="story-header">
					<%= link_to (story) do%>
					<h1><%= story_title(story)%></h1>
					<%=  image_tag(story.image.url , width: number_to_pixel(story.image.width) , height: number_to_pixel(story.image.height))  %>
					<% end %>
				</div>
				<div>
					Started <%= time_ago_in_words story.created_at%> ago By: <%= link_to story.user.name , story.user  %> from Facebook
				</div>
				
				
				<!--<div class="tiels-items-container">
					<a class="btn btn-small like-story"><i class="icon-thumbs-up"></i>Like</a>
					<a class="btn btn-small continue-story"><i class="icon-edit"></i>Continue</a>		
				</div>-->
				<%= render 'static_pages/story_item' , :story => story%>
				