				<div class="story-header">
					<%= link_to (story) do%>
					<h1><%= story_title(story)%></h1>
					<%=  image_tag(story.image_url , width: '365px')  %>
					<% end %>
				</div>
				
				
				<!--<div class="tiels-items-container">
					<a class="btn btn-small like-story"><i class="icon-thumbs-up"></i>Like</a>
					<a class="btn btn-small continue-story"><i class="icon-edit"></i>Continue</a>		
				</div>-->
				<%= render 'static_pages/story_item' , :story => story%>
				 <% if story.is_complete %>
				    <h3>Comments:
					<% unless story.comments.empty?%>
				    	<%= link_to story.comments.count ,story ,{:id => 'comment-total'}%>
				    <% end %>
				    </h3>
				    <div id="comments-<%=story.id%>" class="comments">
				      <div class="comments-container">
				      </div>
				      
				    </div> 
  				<% end %>	