<div class="big-avatars">
	<ul class="static-nav">
	<li>
		<a href="<%= about_url %>"><div class="small-logo logo-feed <%= @active_about%>"><div>About</div></div></a></li>
	<li><a href="<%= terms_url %>"><div class="small-logo logo-feed <%= @active_terms%>"><div>Terms</div></div></a></li>
	<li><a href="<%= privacy_url %>"><div class="small-logo logo-feed <%= @active_privacy%>"><div>Privacy</div></div></a></li>
	<li><a href="<%= help_url %>"><div class="small-logo logo-feed <%= @active_help%>"><div>Help</div></div></a></li>
	<li><a href="<%= new_contact_url %>"><div class="small-logo logo-feed <%= @active_contact%>"><div>Contact Us</div></div></a></li>
	</ul>
</div>