
if ($('#story-<%=@story.id%>').length >0){
		$('#story-<%=@story.id%> .picture').html("<%= escape_javascript(render('stories/inner_story' , :story => @story ))%>");

$("#story-item-<%=@story.id%>").replaceWith("<%= escape_javascript(render('stories/story_item' , :story => @story ))%>");
<% if @story.is_complete %>
	$('#comments-<%=@story.id%>').html("<%= j render 'comments/comments_list' , story: @story %>");

	if ($('#portfolio-wrapper').length>0)
		$('#portfolio-wrapper').isotope('reLayout');
<%end%>
}
else if ($('.story-page .story-wrapper').length >0){
	var storyId = <%=@story.id%>;
	<% unless @story.story_source_id.nil? %>
	if ($("#story-item-<%=@story.id%>").length==0) {
		storyId = <%=@story.story_source_id%>;
	}
	<% end %>
	$("#story-item-"+storyId).replaceWith("<%= escape_javascript(render('stories/story_item' , :story => @story ))%>");
	<% if @story.is_complete %>
		$('#comments-'+storyId).html("<%= j render 'comments/comments_list' , story: @story %>");
	<%end%>
}
else {
	
	if ($('#story-<%=@story.story_source_id%>').length >0){
		$('#story-<%=@story.story_source_id%>').replaceWith("<%= escape_javascript(render('stories/story' , :story => @story ))%>");
		$('#portfolio-wrapper').isotope('appended', $("#story-<%=@story.id%>")).isotope('reLayout');
		
	}
}

// $('#gritter-notice-wrapper').html('');

// gritterElement = "#story-item-<%=@story.id%> .writers";

// if(feedfiction == null) feedfiction = {};
//     if(feedfiction.constants == null) feedfiction.constants = {};
//     feedfiction.constants.messages={
//         title: "<%#= current_user.name%>, <%#= @invite_message.title %>",
//         content: "<%#= @invite_message.content %><br/><a class=\"userFunction\" data-function=\"inviteFacebook#<%#@story.id%>#<%#= @story.is_complete.to_s%>\">Invite here</a>" ,
//         image: "<%#= current_user.avatar%>"
//     }

// feedfiction.actions.gritter(gritterElement);
//feedfiction.actions.continueStory("<%=@story.id%>");