<p id="notice"><%= notice %></p>

<p>
  <b>Story:</b>
  <%= @story_line.story_id %>
</p>

<p>
  <b>User:</b>
  <%= @story_line.user_id %>
</p>

<p>
  <b>Order:</b>
  <%= @story_line.order_id %>
</p>

<p>
  <b>Line:</b>
  <%= @story_line.line %>
</p>

<p>
  <b>Is flagged:</b>
  <%= @story_line.is_flagged %>
</p>


<%= link_to 'Edit', edit_story_line_path(@story_line) %> |
<%= link_to 'Back', story_lines_path %>
