<h2>Hi <%=@user.name%>,</h2>
<p>
	<%= link_to @current_user.name, user_url(@current_user) %>
<% if @user.id==@story.user_id %>
	<%= ' likes your story ' %> 
<%else%>
	<%= ' likes the story ' %>
<%end%>

<%= link_to "#{@story.story_title}" ,story_url(@story) %>

</p>