

<div class="picture">
    <%= link_to(@story,{title: @story.story_title}) do%>
    <%= image_thumb(@story.image)  %>
  
    <% end %>
</div>
<h1><%= @story.story_title%></h1>

<% @story.story_lines.each do |story_line| %>
<div class="story-line">
  <ul>
    <li class="li-line"><%= basic_avatar(story_line.user) %> <span class="line"><%= story_line.line %></span></li>
    <li><%= story_line.order_id %></li>
    
    <li><%= link_to 'Edit', edit_admin_story_line_path(story_line) %></li>
  </ul>
</div>
 
<% end %>
