	<h3><%= @title %></h3>
      <% if @users.any? %>
        <ul class="followers row">
          <%= render @users %>
        </ul>
        <%= will_paginate @users%>
      <% else %>
      	<div class="alert">
      		<% if @user==current_user %>
      			<h3>You have no <%= @title.downcase %> yet!</h3> 
      		<% else %>
      			<h3>@user has no <%= @title.downcase %> yet!</h3> 
      		<% end%>
      	</div>
      <% end %>
    </div>