<div class="user-info">
  <%= normal_avatar(@user) %>
  <p><h3><%= @user.name %></h3></p>  
  
 
  <%= render 'follow_form' if current_user %>


<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">stories:<%= @user.stories.count%></a>
    <ul class="nav">
      <li class="active"><a href="<%= likes_user_path%>">Like:<%= @user.likes.count%></a></li>
      <li><%= render 'shared/stats' %></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</div>
</div>
