<div class="user-info">
  <%= normal_avatar(@user) %>
  <p><h3><%= @user.name %></h3></p>  
  
 
  <%= render 'users/follow_form' if current_user %>


<div class="navbar">
  <div class="navbar-inner">
    
    <ul class="nav">
      <li><a href="<%=user_url(@user)%>">stories:<%= @user.participate_stories.count%></a></li>
      <li><a href="<%= likes_user_url(@user)%>">Like:<%= @user.likes.count%></a></li>
      <li><%= render 'shared/stats' %></li>
      
    </ul>
  </div>
</div>
</div>
