<div class="user-info">
  <div class="image-wrapper">
    <%=avatar_rounded_large(@user) %>
  </div>
  <%= render 'layouts/title_hr' , :@hr_name => @user.name%>
  

  
    <div class="navbar">
      <div class="navbar-inner">
        
        <ul class="nav">
          <li <%=@active_stories%>><a href="<%=user_url(@user)%>"><%= pluralize(@user.participate_stories.size , 'Story')%></a></li>
          <li <%=@active_likes%>><a href="<%= likes_user_url(@user)%>"><%= pluralize(@user.likes.size ,'Like')%></a></li>
        </ul>
       
        <ul class="nav pull-right">
          <%= render 'shared/stats' %>
         
        </ul>
     
         <div class="following-wrapper">
          <%= render 'users/follow_form_header' if current_user %>
        </div>
      </div>
    </div>
  

  
</div>
