<p id="notice"><%= notice %></p>

<p>
  <b>Story:</b>
  <%= @flag.story_id %>
</p>

<p>
  <b>Flag reason:</b>
  <%= @flag.flag_reason_id %>
</p>

<p>
  <b>Reason:</b>
  <%= @flag.reason %>
</p>

<p>
  <b>Reporter user:</b>
  <%= @flag.reporter_user_id %>
</p>


<%= link_to 'Edit', edit_flag_path(@flag) %> |
<%= link_to 'Back', flags_path %>
