					<div class="story-item">
						<div class="picture">
							<%= link_to(story,{title: story.story_title}) do%>
							<%=  image_tag(image_thumb(story.image))  %>
							<!-- <figcaption class="thumbnail-title">
				                <h3>
				                  <span>Mary Doe</span>
				                </h3>
				                <p>
				                  <span>Assistant director</span>
				                </p>
			              </figcaption> -->
			              
							<% end %>
							<div class="title-container">
			           <div class="story-title"><%= link_to story.story_title, story%></div>
	            </div>
						</div>
						
							<div class="item-description alt">
								<%#= render 'stories/started_by' , :story => story%>
								
								<%= render 'stories/story_item' , :story => story%>
							</div>
							<%= render 'comments/pre_comments' ,story: story%>
					
					</div>

				
				
				
				
				<!--<div class="tiels-items-container">
					<a class="btn btn-small like-story"><i class="icon-thumbs-up"></i>Like</a>
					<a class="btn btn-small continue-story"><i class="icon-edit"></i>Continue</a>		
				</div>-->
				
				