
	<div class="picture">
		<%= link_to(story,{title: story.story_title}) do%>
		<%=  image_tag(image_thumb(story.image))  %>
	
		<% end %>
		<div class="title-container">
	     <div class="story-title"><%= link_to story.story_title, story%>
	     
	     	<div class="by-owners">
	     		<%=story.user.name%>
	     		<%= '& 1 Feeder' if story.user_count==2%>
	     		<%= "& #{story.user_count} Feeders" if story.user_count>2%> 
	     		
	     	</div>
	     </div>
    </div>
	</div>
	
	

				
				
				
				
				<!--<div class="tiels-items-container">
					<a class="btn btn-small like-story"><i class="icon-thumbs-up"></i>Like</a>
					<a class="btn btn-small continue-story"><i class="icon-edit"></i>Continue</a>		
				</div>-->
				
				