				<div class="story-header">
					<%= link_to (story) do%>
					<h1><%= story.story_title%></h1>
					<%=  image_tag(image_thumb(story.image) , width: number_to_pixel(story.image.width) , height: number_to_pixel(story.image.height))  %>
					<% end %>
				</div>
				<%= render 'stories/started_by' , :story => story%>
				
				
				<!--<div class="tiels-items-container">
					<a class="btn btn-small like-story"><i class="icon-thumbs-up"></i>Like</a>
					<a class="btn btn-small continue-story"><i class="icon-edit"></i>Continue</a>		
				</div>-->
				<%= render 'stories/story_item' , :story => story%>
				