

<span id="like-<%=story.id%>">
	<% if story.likes.length>0 %>
		<span><i class="mini-ico-heart"></i>Likers: <a href="<%=like_path(story.id)%>" data-toggle="modal" data-target="#like-modal" class="like-link"><%=story.likes.length%></a></span>
	<% end %>
	<span class="likes">
	<% if current_user %>
		<% if current_user.like?(story.id) %>
			<%= render 'stories/unlike_form' , story: story%>
		<%else %>
			<%= render 'stories/like_form' , story: story %>
		<% end %>
	<% else %>
		<input type="button" class="btn btn-info unregistered" value="Like"/>
	<% end %>
	</span>
</span>