			<div class="story-item" id="story-item-<%=story.id%>">
				<div class="story-with-owners">
					<div class="story-area">
						<% story.story_lines.each_with_index do |line,index| %>
						  		<span class="hover-line writer_<%=line.user.id%> <%= @is_user_page && @user.id==line.user_id ? 'emphasis' : ''  %>"><%= index==0 ? drop_cap(line.line) : sanitize(line.line.gsub(/\n/, '<br />'), :tags => %w(br)) %></span>
						<% end %>
						<%if story.is_complete%>
							<div class="the-end">
								<h5>The End</h5>
							</div>
						<% end %>
						<span class="cs-canvas"></span>
					</div>

					<% if @in_story_page%>
					<div class="fb-actions">
						<div class="fb-like" data-href="<%= story_url(story) %>" data-send="true" data-layout="box_count" data-width="450" data-show-faces="false"></div>
						<div>
							<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= story_url(story)%>"  data-count="vertical" data-text="Great FeedFiction story: &quot;<%= story.story_title %>&quot; read here: <%= story_url(story)%>" data-via="Feedfictioncom" data-dnt="true">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>
						<div class="pinterest-actions">
							<a data-pin-config="above" href="//pinterest.com/pin/create/button/?url=<%=u story_url(story)%>&media=<%=u story.image.image_source%>&description=<%=u "Great FeedFiction story:&quot;#{story.story_title}&quot;" %>" data-pin-do="buttonPin" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
						</div>
					</div>
					<%end%>
						
					
					<div class="post-meta writers clearfix">
						<div class="feeders">Feeders:</div>
						<%= render 'stories/feeders' ,story: story%>
						
					</div>
				</div>
				<div>
					<div id="flag-<%=story.id%>" class="modal hide fade flag-container"></div>
				<% if @feed_name.nil? || story.is_complete%>
					<div id="actions-item-<%=story.id%>">
						<%= render 'stories/actions' , story: story%>
					</div>
				<% end %>
				<% unless story.is_complete%>
					<div class="continue-story-text-area">
						<%= simple_form_for StoryLine.new , html: {class: 'form-horizontal'}, remote: true  do |f| %>
						
						<%= f.hidden_field :order_id, value: story.story_lines.last.order_id if story.story_lines.present?%>
						<%= f.hidden_field :story_id, value: story.id %>
						<!-- <div class="continue-story-text-area"> -->
								
			              <%= avatar_rounded(current_user)  %>
			              <%= render 'stories/writer_area' , story: story, f: f%>
						<!-- </div> -->
						
						
						<%end%>
					</div>
				<%end%>	

				</div>
					
					
		</div>
			
