			<div class="story-item" id="story-item-<%=story.id%>">
				<div class="story-with-owners">
					<div class="story-area">
						<% story.story_lines.each_with_index do |line,index| %>
						  		<span class="writer_<%=line.user.id%> <%= @is_user_page && @user.id==line.user_id ? 'emphasis' : ''  %>"><%= index==0 ? drop_cap(line.line) : sanitize(line.line.gsub(/\n/, '<br />'), :tags => %w(br)) %></span>
						<% end %>
						<%if story.is_complete%>
						<div class="the-end">
							<h5>The End</h5>
						</div>
						<% end %>
						<span class="cs-canvas"></span>
					</div>
						
					
					<div class="post-meta writers clearfix">
						<div class="feeders">Feeders:</div>
						<%= render 'stories/feeders' ,story: story%>
						
					</div>
				</div>
				<div>
					<div id="flag-<%=story.id%>" class="modal hide fade flag-container"></div>
				<% unless story.is_complete%>
					<div class="continue-story-text-area">
						<%= simple_form_for StoryLine.new , html: {class: 'form-horizontal'}, remote: true  do |f| %>
						
						<%= f.hidden_field :order_id, value: story.story_lines.last.order_id if story.story_lines.present?%>
						<%= f.hidden_field :story_id, value: story.id %>
						<!-- <div class="continue-story-text-area"> -->
			              <%= avatar_rounded(current_user) if current_user %>
			              <div class="textarea-with-button">
	              			<textarea limit='<%= (add_how_many_words story)+1%>' <%= 'unlogged="t"' unless current_user%> name="story_line[line]"  placeholder='Continue the story..'></textarea>
			  							
			  							<div>
			  								<span class="counter-text"><%= (add_how_many_words story)+1%> words left out of 55</span>
			  							<%= f.submit 'Feed It', class: 'btn btn-small', disabled: true ,disable_with: 'Processing...'%>
			  							
			  							</div>
			              </div>
						<!-- </div> -->
						<span id="continue-error" class="error-message"></span>
						
						<%end%>
					</div>
				<%end%>	

				</div>
					
			
				<% if story.is_complete %>
<div class="post-meta comments-dashboard">
	<% if story.comments.size>0%>
	<span><i class="mini-ico-comment"></i><%=link_to "#{story.comments.size} comments", story_url(story) , id: "comment-count-#{story.id}"%></span>
	<% end%>
	<%= render 'stories/like_actions' , story: story %>
	<%= render 'stories/flag_actions' , story: story %>
</div>
					
		  	<% end %>		
			</div>
			
