<% provide(:title ,@story.story_title)%>
<% content_for :head do %>
  <%= tag :meta, property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"] %>
  <%= tag :meta, property: "og:site_name", content: "Feedfiction" %>
  <%= tag :meta, property: "og:type", content: "feedfiction:story" %>
  <%= tag :meta, property: "og:title", content: @story.story_title %>
  <%= tag :meta, property: "og:url", content: story_url(@story) %>
  <%= tag :meta, property: "og:image", content: @story.image.image_source %>
  <%= tag :meta, property: "og:description", content: @story.description %>


<% end %>




<section class="story-page">

	<div class="started-by">
		<!-- <h2>The Feeders:</h2> -->
		<%= render 'stories/big_feeders' ,story: @story%>
		<h2><%= @story.story_lines.map {|l| l.user}.uniq.size >1 ? 'Present:' : 'Presents' %></h2>
		<div class="story-header-hr-wrapper">
			<%= render 'layouts/title_hr' , :@hr_name => @story.story_title%>
		</div>

	</div>
	

<div class="container">

	<div class="story">
		
		<div class="story-wrapper">
			<div class="picture">
			  <%=  image_tag(@story.image.image_source)  %>
			</div>
	  			<%#= render 'stories/started_by' , :story => @story%>
			  
			  <%= render 'stories/story_item' , :story => @story%>
		</div>
	  <%= render 'comments/pre_comments' ,story: @story%>
	</div>

	
	<!-- Side bar -->
	<%#= render 'stories/side_bar' %>
</div>
</section>

<% content_for :footer do %>
	<%=render 'layouts/footer' %>
	<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
<% end %>