<% provide(:title ,@story.story_title)%>
<% content_for :head do %>
	<!--<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "2ef12537-8b20-4ac6-926b-15e1351dc861"}); </script>-->
<% end%>
<section class="story-page">

	<div class="started-by">
		<!-- <h2>The Feeders:</h2> -->
		<%= render 'stories/big_feeders' ,story: @story%>
		<h2><%= @story.story_lines.map {|l| l.user}.uniq.size >1 ? 'Present:' : 'Presents' %></h2>
		
		<%= render 'layouts/title_hr' , :@hr_name => @story.story_title%>


	</div>
	

<div class="container">

	<div class="story">
		<div class="story-wrapper">
			<div class="picture">
			  <%=  image_tag(@story.image.image_source)  %>
			</div>
	  			<%#= render 'stories/started_by' , :story => @story%>
			  <h1 class="story-title"><%= @story.story_title%></h1>
			  <%= render 'stories/story_item' , :story => @story%>
		</div>
	  <%= render 'comments/pre_comments' ,story: @story%>
	</div>

	
	<!-- Side bar -->
	<%#= render 'stories/side_bar' %>
</div>
</section>

<% content_for :footer do %>
	<%=render 'layouts/footer' %>
<% end %>