<section class="story-page">
  <% provide(:title, story_title(@story)) %>
  <%=  image_tag(@story.image_url)  %>
  <h1><%= story_title(@story)%></h1>
  <%= render 'static_pages/story_item' , :story => @story%>

  
  <% unless @story.comments.empty? %>
    <%= render 'comments/show' , :@comments => @story.comments%>
  <% end  %>
  <div>
    <h4>Add Comment:</h4>
    <div class="add-comment">
      <% if current_user %>
        <div class="commenter-avatar"><%= basic_avatar(current_user) %></div>
      <%end%>
        <%= render 'comments/new' , :@comment => @new_comment %>
      
    </div>
  </div>
</section>