<h1>Listing image_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @image_types.each do |image_type| %>
  <tr>
    <td><%= image_type.name %></td>
    <td><%= link_to 'Show', image_type %></td>
    <td><%= link_to 'Edit', edit_image_type_path(image_type) %></td>
    <td><%= link_to 'Destroy', image_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image type', new_image_type_path %>
