<%= render 'layouts/feed_nav'%>
<%= render 'feeds/feed' %>
<div class="modal  fade in" id="registration_wizard">
	
	<div class="modal-body-registration">
		<div class="start-registration">
			<h3>Hi <%= current_user.name %></h3>
			
			<p>Starting a story is easy. Just upload a photo and start writing.</p>
			<p>You may write one word or more and let others continue your story. <p>
			<p>Every story is 55 words long. It’s short and sweet.</p>
			<!-- <p>To start a story just upload a photo and start writing.</p>
			<p>To continue story just add your words.</p>
			<p>The stories appear in “My Feed”, “Everything” and in the feed of the feeders you follow</p><br/>
			<p>Oh, one last thing, every story is 55 words long. </p>
			<p>It’s short and sweet.</p> -->

		</div>
		<div class="hide" id="registration-done">
			<h3>Just last thing..</h3>
			<p>
				<p>Every story you start or continue will appear in “My Feed” and in “Everything”.</p>
				<p>It also appears in the feed of the feeders you follow.</p>
				<strong>It’s that simple.</storng>
			</p>
		</div>

	</div>
	<div class="modal-footer">
		<div class="preloader hide"></div>
		<div class="next-registration-wizad-btns current">
			<input type="button" value="I want to start a story" id="start_story_wizard" class="btn btn-primary"/>
		<%= link_to 'More option' , '#' ,class: 'more-option'%>
		</div>
		<div class="next-registration-wizad-btns hide">
			<%= link_to 'Skip for now' , '#', class: 'skip-step-registration'%>
		</div>
		<div class="next-registration-wizad-btns hide">
			<input type="button" value="Done" class="btn btn-primary btn-done"/>
		</div>
		
	</div>
</div>
<div id="registration-continue-story" class="popover fade right in" >
	<div class="arrow"></div>
	<div class="popover-inner">
		<h3 class="popover-title">Continue a Story</h3>
		<div class="popover-content">
			<p>Continuing a story is also easy.</p>
			<p>Add one word or more and then click “Feed it”.</p>
			<strong>You may try to continue this story.</strong>
		</div>
		<div class="clearfix"></div>
		<div class="modal-footer">
			<div class="next-registration-wizad-btns">
				<%= link_to 'Skip' , '#' , class: 'skip-step-registration'%>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
<!--
	feedfiction.actions.startRegistrationWizard();
-->
</script>
