<%= render 'layouts/feed_nav'%>
<%= render 'feeds/feed' %>
<div class="modal  fade in" id="registration_wizard">
	
	<div class="modal-body-registration">
		<h3>Hi <%= current_user.name %></h3>
		<p>
			<div>You’re ready to feed the fiction.</div>
			<div>Starting a story is easy.</div>
			Two steps and you’re done.
			<!-- <ol>
				<li>1. Upload a photo</li> 
				<li>2. Start writing. You may write one word or more.</li>
			</ol>	
			
			That’s it. Click “Feed it” and let others continue your story. 
			Every story is 55 words long. It’s short and sweet. -->
		</p>

	</div>
	<div class="modal-footer">
		<div class="next-registration-wizad-btns current">
			<input type="button" value="Start a Story" id="start_story_wizard" class="btn btn-primary"/>
		<%= link_to 'More option' , '#'%>
		</div>
		<div class="next-registration-wizad-btns hide">
			<%= link_to 'Skip' , '#'%>
		</div>
		<div class="next-registration-wizad-btns hide">
			<input type="button" value="Done" class="btn btn-primary"/>
		</div>
		
	</div>
</div>
<script type="text/javascript">
<!--
	feedfiction.actions.startRegistrationWizard();
-->
</script>
