<div class="wrapper-hr">
	<div class="navbar">
	  <div class="navbar-inner">
	    
	    <ul class="nav">
	      <li><%=link_to 'My Feed', root_url if current_user%></li>
	      <li><%=link_to 'Everything', general_feed_url%></li>
	      <li><%=link_to 'Popular', '#'%></li>

	    </ul>
	    <ul class="nav pull-right">
	    	<li class="disabled"><%=link_to 'Invite your friends', '#', id:'facebook_invitation_link'%></li>
	    </ul>
	  </div>
	</div>
<div class="logo-framework">
	<div class="wrapper-logo-feed">
		<div class="left-corner"></div>
		<div class="small-logo logo-feed <%=@feed_logo_color%>"><div><%=@feed_name%></div></div>
		<div class="right-corner"></div>
	</div>
</div>
	
</div>
