<div class="wrapper-hr">
	<div class="navbar">
	  <div class="navbar-inner">
	    
	    <ul class="nav">
	      <li <%= @my_feed_active%>><%=link_to 'My Feed', root_url if current_user%></li>
	      <li <%= @everything_active%>><%=link_to 'Everything', general_feed_url%></li>
	      <!-- <li><%#=link_to 'Popular', '#'%></li> -->

	    </ul>
	    <% if current_user && current_user.invitation_limit > 0 %>
	    <ul class="nav pull-right">
	    	<li><%=link_to 'Invite your friends', '#', class: 'facebook_invitation_link'%></li>
	    </ul>
	    
	      <%#= link_to 'Send invitation', new_invitation_path %>
		  <% end %>
	    
	  </div>
	</div>
<div class="logo-framework">
	<div class="wrapper-logo-feed">
		<div class="left-corner"></div>
		<div class="small-logo logo-feed <%=@feed_logo_color%>"><div><%=@feed_name%></div></div>
		<div class="right-corner"></div>
	</div>
</div>
	
</div>
