<div id="fb-root" data-channel-url="<%= fb_channel_url %>"></div>
<header <%= 'class=header-fix' if current_user%>>
  
  <!--start: Container -->
  <div class="container">
    <!--start: Row -->
    <div class="row">
     <%= render 'layouts/logo_nav' %>
      
     <!--  <div class="navbar-second-nav">   
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
           
              <a class="btn btn-navbar" >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
            </div> 
          </div>   
      </div> -->
        
      <!--start: Navigation -->
       <div class="navbar-actions">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <div class="nav-collapse collapse">
                    <ul class="nav">
                    <% if user_signed_in? %>
                      <% if current_user.has_notification? %>
                        <li><a href='<%= notifications_show_url%>'>
                            <%if current_user.new_notifications_count==0%>
                              <i class="mini-ico-bell"></i>
                            <%else%>
                              <i class="mini-ico-bell mini-white"></i><span class="notify-count"><%=current_user.new_notifications_count%></span>
                            <% end %>
                            </a>
                        </li>
                      <%end%>
                      <li class="divider-vertical"></li>
                       <%= render 'layouts/start_story_link' %>
                      <li class="divider-vertical"></li>
                      <%= render 'layouts/about_dd_menu' %>
                      <li class="divider-vertical"></li>
                      <li> <%= avatar_rounded_mini(current_user)%></li>
                       <li id="fat-menu" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
<li><%=link_to 'My Feed', root_url if user_signed_in?%></li>
        <li><%=link_to 'Invite friends', '#', class: 'facebook_invitation_link'%></li>

                           <li class="divider"></li>
                          <li><%= link_to "Following",  following_user_path(current_user) %></li>
                          <li><%= link_to "Followers",  followers_user_path(current_user) %></li>
                         <li class="divider"></li>
                          <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
                          <li class="divider hide-in-fb-app"></li>
                          <li class="hide-in-fb-app"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                         
                        </ul>
                      </li>
                      
                      
                    <% else %>
                      <%= render 'layouts/about_dd_menu' %>
                      <li class="divider-vertical"></li>
                      <li><%= link_to "Sign up", new_user_registration_path %></li>
                      <li class="divider"></li>        
                      <li><%= link_to "Login", new_user_session_path %></li>

                    <% end %>



                    </ul>
                  </div>
              </div>
            </div>
        
      </div>  
      <!--end: Navigation -->

    </div>
    <!--end: Row -->
    <%# if current_user%>
        <!-- <div class="navbar-start-story">
         <a class="userFunction btn btn-primary" data-function="startStoryModal" alt="Start a Story" title="Start a Story"><i class="mini-ico-pencil mini-white"></i> <span class="hidden-phone">Start a story</span></a>
       </div> -->
    <%# end %>
  </div>
  <!--end: Container-->     
<% if current_user %> 
<div class="second-nav"
  <div class="container">
      <ul>
        <li <%= @most_popular_active%>><%=link_to 'Most Popular', most_popular_url %></li>
        <li <%= @my_feed_active%>><%=link_to 'My Feed', root_url %></li>
        <li <%= @everything_active%>><%=link_to 'All Stories', general_feed_url %></li>
        
      </ul>
      
  </div>
</div>
<%end%>
</header>
<%# if current_user%>
<!-- <div class="second-header">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <ul class="nav">
        <li <%#= @everything_active%>><%#=link_to 'All Stories', general_feed_url %></li>
        <li <%#= @my_feed_active%>><%#=link_to 'My Feed', root_url %></li>
        <%#= render 'layouts/start_story_link' %>
      </ul>
    </div>
  </div>
</div> -->
<%#end%>

<!--end: Header-->
<%= yield :fold%>


