<!DOCTYPE html>
<html lang="en">
  <head>
    
    <%= display_meta_tags :site => full_title(yield(:title))%>
    <%= stylesheet_link_tag "application", media: "all" %>
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lobster' >
    
    <link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
    
    <%= javascript_include_tag "application" %>
    
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- end: Mobile Specific -->

    <%= csrf_meta_tags %>
    <%= yield :head %>

    <%= render 'layouts/shim' %>
  </head>
  <body>
    <!-- Start Story Modal -->
    <%= render 'stories/start_story_modal' %>
    <%= render 'layouts/header' %>
    
  <div id="wrapper" <%= 'class=wrapper-fix' if current_user %>>
    <div class="container">
      
      <%= yield %>
      
    
    </div>
    
      <div id="like-modal" class="modal hide fade in"></div>
      
    <%unless current_user%>
      <%= render 'layouts/unregisterd_modals' %>
      
    <%end%>
    <%= render 'layouts/scroll_to_top' %>
    <%= yield :footer %>
  </div>
    <%#= debug(params) if Rails.env.development? %>
    <%= render 'layouts/analytics' %>

  </body>
</html>