<%= simple_form_for @account, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :username %>
  <%= f.input :password %>
  <%= f.input :enable %>
  <%= f.input :name %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                accounts_path, :class => 'btn' %>
  </div>
<% end %>
